# 리스트(list)
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * 생성된 후에 변경 가능

#### 리스트 생성 방법
 - [] 안에 값을 담아서 생성
 - list() 함수로 생성
 - 문자열 내장함수인 split()함수로 생성

In [1]:
a = [] # 빈 리스트 생성
print(a)

[]

In [2]:
a = [1, 2, 3, 5, 10]
print(a)

[1, 2, 3, 5, 10]

In [3]:
a = ['korea', 'canada', 1, 23, [34, 56]]  # 하나의 리스트에 여러가지 타입의 데이터를 담을 수 있음
print(a)

['korea', 'canada', 1, 23, [34, 56]]

* **list() 함수로 생성**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [5]:
a = 'hello world'
b = list(a)  # 문자열을 리스트로 변환
print(b)

c = (1, 2, 3)
d = list(c)  # 튜플을 리스트로 변환
print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3]

+ **문자열 내장함수 split() 함수로 생성**
 * 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [6]:
a = 'hello world nice weather'
b = a.split()

print(b)

['hello', 'world', 'nice', 'weather']

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막 원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [7]:
a = [1, 2, 3, 4, 5, 6]
print(a[2])
print(a[5])
print(a[-1])

3
6
6

#### **리스트 개별 원소에 접근 방법**
 - 인덱스로 접근하여 값을 업데이트 할 수 있음

In [8]:
a = 'hello world'
print(a[0])

# a[0] = 'j'  문자열은 대표적인 불변 객체임. 한번 생성되면 변하지 않음

b = 'jello world'
c = 'j' + a[1:]
print(b, c)

d = a.replace('h', 'j') # replace 함수를 써도 a 변수의 값 자체는 변하지 않음
print(d)
print(a)

h
jello world jello world
jello world
hello world

In [9]:
a = [1, 2, 3, 4, 5]
a[0] = 100  # 리스트는 생성된 후에 인덱스로 접근하여 수정 가능
a[-1] = 90
print(a)

[100, 2, 3, 4, 90]

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱 결과도 역시 list 가 됨

In [10]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(a[4:7])
print(a[:7])
print(a[3:])
print(a[:])

# slicing
# start:end:increment , increment 는 기본값이 1이나 생략되어 있고, 건너 뛰는 값을 명시하여 조절할 수 있음

print(a[1:7:1])
print(a[1:7:2])
print(a[1:7:3])

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[2, 3, 4, 5, 6, 7]
[2, 4, 6]
[2, 5]

#### list 멤버 함수
 - 생성된 리스트 객체에 동작하는 함수

* **append()**
 + 리스트의 맨 끝에 항목을 추가함

In [11]:
a = [1, 2, 3, 4, 5]
a.append(10)

print(a)

[1, 2, 3, 4, 5, 10]

+ **extend()**
 * 리스트와 리스트를 합병
 * += 로도 가능함

In [26]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#a.append(b)
#print(a)
#print(a[5])

a.extend(b) 
print(a)

#a += b  # += 연산자를 통해서도 리스트 합병 가능
#print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능
 * 앞에는 인덱스를, 뒤에는 값을 명시

In [16]:
a = [1, 3, 4, 5, 6]
a.insert(1, 40)

print(a)

[1, 40, 3, 4, 5, 6]

+ **remove()**
 * 값으로 항목을 찾아서 삭제하되, 가장 먼저 만나게 되는 항목만 삭제함
 * 만약 찾고자 하는 값이 없다면 오류 발생

In [17]:
a = [1, 2, 30, 30, 4, 5]
a.remove(30) 

print(a)

[1, 2, 30, 4, 5]

+ **pop()**
  - 인덱스를 명시하지 않으면 기본적으로 맨 마지막 인덱스의 값을 먼저 반환하고 삭제함
  - 인덱스를 명시하면 인덱스의 값을 먼저 반환하고 삭제함

In [20]:
a = [1, 2, 3, 4, 5]
d = a.pop(2)
print(a)
print(d)

[1, 2, 4, 5]
3

+ **index()**
 * 찾고자 하는 값의 인덱스를 알고자 할 때 사용

In [21]:
a = [2, 6, 7, 9, 10]
a.index(7)

2

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + bool 타입으로 반환

In [22]:
a = [1, 2, 3, 4, 5, 10]
b = 10
c = b in a

print(c)

True

* **list 정렬**
 + sort() 는 리스트 자체를 정렬시킨다.
 + sorted() 는 원본은 놔두고 리스트의 정렬된 복사본을 반환시킨다.

In [23]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
# a.sort() # 오름차순으로 정렬할 때, 정렬하게 되면 a 의 값이 오름차순으로 변화된다.
a.sort(reverse=True) # 내림차순으로 정렬할 때, 정렬하게 되면 a 의 값이 내림차순으로 변화된다.

print(a)

[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]

In [24]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
b = sorted(a) # 내부함수를 통해 정렬할 때, 내부함수를 통해 정렬하면 a 값 자체에 변화시키지 않는다.

print(a)
print(b)

[9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

# 튜플(tuple)
 - 리스트와 같이 복수개의 값을 담을 수 있는 데이터 구조
 - 생성된 후 변경이 불가능하다는 점만 빼고는 리스트와 동일

#### 튜플 생성 방법
 - () 안에 값을 담아서 생성
 - 원소가 여러개 일때 () 생략 가능
 - 단지 1개의 원소만을 가질 때에는 원소 뒤에 콤마(,)를 반드시 붙여야 함

In [25]:
a = ()
b = (1,)
c = (1, 2, 3)
d = 1, 2, 3
e = ('korea', 'canada', 1, 23, (34, 56))

In [54]:
a = [1, 2, 3]
b = (1, 2, 3)

print(type(a))
print(type(b))

a[0] = 100
print(a)

b[0] = 100  # 튜플의 값은 변경 불가함
print(b)

<class 'list'>
<class 'tuple'>
[100, 2, 3]

TypeError: 'tuple' object does not support item assignment

#### **tuple unpacking**
 - 튜플의 값을 차례대로 변수에 대입

In [56]:
a = (100, 200)
type(a)

tuple

In [61]:
a, b, c, d = 100, 200, 300, 400
print(a, b, c, d)

100 200 300 400

In [65]:
a = 5
b = 4

a, b = b, a  # tuple unpacking 을 이용하여 튜플의 값을 차례대로 변수에 대입

print(a, b)

4 5